<div class="page page--top">
	<header>{{>back-button}}</header>

	<h1 class="page__title">Список користувачів</h1>

	<hr class="page__divider">
	
	<form class="page__section" id='user-list'>
		
		<span class="alert alert--disabled"></span>

		{{!-- <a href="#" class="user user--click">
			<span class="user__title">admin@mail.com</span>
			<span class="user__sub ">Admin</span>
		</a>

		<a href="#" class="user user--click">
			<span class="user__title ">dev@mail.com</span>
			<span class="user__sub ">Developer</span>
		</a> --}}
{{!-- 
		<a href="#" class="user user--click">
			<span class="user__title ">user@mail.com</span>
			<span class="user__sub ">User</span>
		</a> --}}
	</form>
		
</div>