@use '../../style' as s;

@use '../../style/form.scss' as form;

.user {
  display: flex;
  flex-direction: column;
  gap: s.space(2);

  &--click {
    @include s.click;
    text-decoration: none;
  }

  &__title {
    font-size: 16px;
    height: 16px;
    color: s.color(gray);
  }

  &__sub {
    font-size: 14px;
    height: 14px;
    color: s.color(light);
  }
}
