<div class="page page--top">
	<header>{{>back-button}}</header>

	<h1 class="page__title">Інформація про користувача</h1>

	<hr class="page__divider">
	
	<div class="page__section" id='user-item'>
		
	</div>
		
</div>