<div class="page page--background">
	<header>{{>back-button}}</header>

	<form class="page__section">
		<h1 class="page__title">Реєстрація</h1>

		<div class="form">
			<div class="form__item">
				{{>field action='signupForm.change' name='email' type='email' label='Електронна адреса' placeholder='Ваш e-mail'}}

				<span name="email" class="form__error"></span>

			</div>

			<div class="form__item">
				{{>field-select action='signupForm.change' name='role' label='Роль' placeholder='Оберіть роль' list=data.role}}

				<span name="role" class="form__error"></span>

			</div>

			<div class="form__item">
				{{>field-password action='signupForm.change' name='password' type='password' label='Пароль' placeholder='Ваш пароль'}}

				<span name="password" class="form__error"></span>

			</div>

			<div class="form__item">
				{{>field-password action='signupForm.change' name='passwordAgain' type='password' label='Пароль ще раз' placeholder='Ваш пароль'}}

				<span name="passwordAgain" class="form__error"></span>

			</div>

			<div class="form__item">
				{{>field-checkbox action='signupForm.change' name='isConfirm' label='Ви погоджуєтесь з правилами сервіса'}}

				<span name="isConfirm" class="form__error"></span>
			</div>
		</div>

		<button onclick="signupForm.submit()" class="button button--disabled" type="button" >Зареєструватися</button>

		<span class="alert alert--disabled"></span>
	</form>
</div>